$color_h1: #c33;
$color_h2: #a32929;
$color_h3: #7a1f1f;
$color: #369;
$size_border: 1px;
$style_border: solid;
$color_border: #a32929;
$pad_section: 1em;
$display: flex;
$flex_wrap: wrap;
$justify: space-evenly;
$width_b1: 49%;
$width_b2: 32%;
$width_b3: 19%;